# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
env/
venv/
ENV/
venv.bak/
venv.bak3/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# pyenv
# For a specific virtual environment folder
# if it is located somewhere within your project
pyenv/
.python-version

# pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Logs and databases
*.log
*.sql
*.sqlite

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
coverage.xml
*.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Documentation
/build/

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Pycharm specific files
.idea/

# VSCode specific files
.vscode/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

